<div class="row">
    <div class="col-4">
        <ul>
            @for (item of stateList; track $index) {
                <li > {{item}}</li>
            }
            
        </ul>
    </div> 
    <div class="col-4">
        <button class="btn btn-primary" 
        *ngFor="let state of stateList"> {{state}}</button>
    </div>
    <div class="col-4">
        <select class="form-select" >
            <option
             *ngFor="let state of stateList"
             [value]="state"> 
             {{state}}
            </option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <ul>
            <li *ngFor="let student of studentList">
                 {{student.name}} - {{student.state}}</li>
        </ul>
    </div>
    <div class="col-4">
         <div *ngFor="let stud of studentList">
             {{stud.studId}}</div>
    </div>
    <div class="col-4">
        <select class="form-select">
            @for (item of studentList; track item.studId) {
                <option  [value]="item.studId">{{item.name}}</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>State</th>
                    <th>Status</th>
                    <th>Status</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody> 
                @for (stud of studentList; let sr= $index;let first = $first;track sr) {
                    <tr>
                        <td> {{sr+1}}</td>
                        <td > {{stud.name}}</td>
                        <td  [ngClass]="stud.isPresent ? 'bg-success': 'bg-danger'"> {{stud.state}}</td>
                        <td>
                            <!-- @if(stud.isPresent == true) {
                                <span class="text-success">Present</span>
                            } @else if(stud.isPresent == false) {
                                <span  class="text-danger">Absent</span>
                            } @else {
                                <span  class="text-danger">No Record Available</span>
                            } -->
                            @switch (stud.isPresent) {
                                @case (true) {
                                    <span class="text-success">Present</span>
                                }
                                @case (false) {
                                    <span  class="text-danger">Absent</span>
                                }
                                @case (null) {
                                    <span  class="text-danger">No Record Available</span>
                                }
                                @default {
                                    <span  class="text-danger">Some Error</span>
                                }
                            }
                        </td>
                        <td [ngClass]="getPresentClassName(stud.isPresent)"> 
                            <span> {{stud.isPresent}}</span>
                        </td>
                        <td [ngClass]="{'bg-success': stud.grade == 'A' , 'bg-secondary': stud.grade == 'B', 'bg-danger':stud.grade == 'C' }">
                            {{stud.grade}}
                        </td>
                    </tr>
                }
                @empty {
                    <tr>
                        <td colspan="6"> NO Record Found</td>
                    </tr>

                }   
                
            </tbody>
        </table>
    </div>
</div>