<ng-template #sddfsdf>
    <p>This Is PAra</p>
</ng-template>
<app-alert [alertType]="'Error'" [alertMessage]="message"></app-alert>
<h1 class="primary">Hellow Red</h1>

<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                List <app-my-button (onBtnClick)="getDate($event)" [btnText]="'Get Data'" [btnClassName]="'btn-success'"></app-my-button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Name</th> 
                                    <th>Password</th>
                                    <th>Comtact No</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <ng-container *ngIf="isLoader == true">
                                    <tr>
                                        <td colspan="5">
                                            <div class="spinner-border text-muted"></div>
                                            <div class="spinner-border text-primary"></div>
                                            <div class="spinner-border text-success"></div>
                                            <div class="spinner-border text-info"></div>
                                            <div class="spinner-border text-warning"></div>
                                            <div class="spinner-border text-danger"></div>
                                            <div class="spinner-border text-secondary"></div>
                                            <div class="spinner-border text-dark"></div>
                                            <div class="spinner-border text-light"></div>
                                        </td>
                                    </tr>
                                </ng-container> -->
                                <ng-container >
                                    <!-- <ng-container *ngIf="user$ |async as users"> -->
                                        <tr  *ngFor="let user of user$ | async;let sr = index">
                                            <td> {{sr+1}}</td>
                                            <td> 
                                                <input type="text" [(ngModel)]="user.name">
                                                 </td> 
                                            <td appHighlightTr> {{user.password}}</td>
                                            <td> {{user.contactNo}}</td> 
                                            <td>
                                                <!-- <button class="btn btn-danger" (click)="onEdit(user)">Edit</button> -->
                                                <!-- <button class="btn btn-success" (click)="onEdit(user.userId)">Edit</button> -->
                                                <app-my-button (onBtnClick)="onEdit(user)" [btnText]="'Edit User'" [btnClassName]="'btn-primary'"></app-my-button>
                                                <button class="btn btn-danger" (click)="onDelete(user.userId)">Delete</button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                   
                                <!-- </ng-container> -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                Create New
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label>Name</label>
                        <input type="text" [(ngModel)]="userObj.name" class="form-control" />
                    </div>
                    <div class="col-6">
                        <label>Email</label>
                        <input type="text" [(ngModel)]="userObj.email" class="form-control" />
                    </div>
                    <div class="col-6">
                        <label>Password</label>
                        <input type="text"  [(ngModel)]="userObj.password"class="form-control" />
                    </div>
                    <div class="col-6">
                        <label>Contact No</label>
                        <input type="text" [(ngModel)]="userObj.contactNo" class="form-control" />
                    </div>
                    <div class="col-6">
                        <label>Role</label>
                        <input type="text" [(ngModel)]="userObj.role" class="form-control" />
                    </div>
                </div>
                {{userObj | json}}
                <div class="row">
                    <div class="col-12">
                        <button *ngIf="userObj.userId == 0" class="btn btn-primary" (click)="onSaveUser()">
                            <span *ngIf="isSaveApiCallInProgress" class="spinner-border spinner-border-sm"></span>
                            Save User</button>
                        <button *ngIf="userObj.userId !== 0" class="btn btn-success" (click)="onUpdate()">
                            <span *ngIf="isSaveApiCallInProgress" class="spinner-border spinner-border-sm"></span>
                            Update User</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>