<div class="row">
    <div class="col-3 p-3">
        <p [ngStyle]="{'color': textColor}">This Is Sample Text</p>
        <p style="background-color: green;" [ngStyle]="{'color':textColor,'font-size':textFontSize}">Demo 2</p>
    </div>
    <div class="col-3">
        <div [ngStyle]="customCss">
            Div 222
        </div>
    </div>
    <div class="col-3">
        <div [ngStyle]="getMyCss()">

        </div>
    </div>
    <div class="col-3">
        <p [ngStyle]="{'color': isActive ? 'blue': 'red'}">Demo Text </p>
        <input type="checkbox" [(ngModel)]="isActive" />
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="bg-danger" [style.color]="'blue'" [style.width.%]="divWitdh">
            div 5555
        </div>
    </div>
    <div class="col-3">
        <!-- <div class="progress">
            <div class="progress-bar" [style.width.%]="progress"></div>
          </div> -->
        <div class="progress">
            <div class="progress-bar" [ngStyle]="{width:progress+'%'}"></div>
        </div>
        <input type="text" [(ngModel)]="progress" />
    </div>
</div>